.DS_Store
__pycache__/
.ipynb_checkpoints
.env
.venv
env/
venv/

# audio-related files
musicdl
.musicdl_env
*.zip
*.mp3
*.flac
my_app/
my_app
.expo/
!pb_recording_long.wav
!pb_recording_short.wav
!sample.wav
!Dogtooth_rec.flac